[2015-01-16 04:35] Duke3D opened #1 "mautic.com 500 error"
Wrong location

[2015-01-16 04:36] #1 closed, assigned to nobody

[2015-03-10 03:11] kitsunemax opened #2 "Twypoe on https://www.mautic.org/get-involved ;)"
We depend on the strength of our _comity_ to create the value of Mautic.

[2015-03-12 02:30] alanhartless commented on #2
I'll be honest, its a new word for me but it might actually be intentional based on http://www.merriam-webster.com/dictionary/comity.  But I'll check to make sure :-)

[2015-03-12 18:27] alanhartless commented on #2
Fixed on the website :-)

[2015-03-12 18:27] #2 closed, assigned to nobody

[2015-09-19 19:58] RCheesley opened #3 "Poor contrast between text on .com site"
There is poor contrast between the text and the black background on mautic.com:

http://nimb.ws/Z7LQPU

Ideally the font should be a different colour, maybe white or a whiter grey, so that it can be seen easily!

[2015-09-23 07:07] escopecz commented on #3
Thanks for the report. However, Allyde and its service problems should be reported to Allyde. Also, there is no way ho to know on what URL you took the screen shot. That makes it hard to find that problem.

[2015-09-23 10:29] RCheesley commented on #3
OK, just trying to be helpful. It was on mautic.com.

Ruth
On 23 Sep 2015 03:07, "John Linhart" notifications@github.com wrote:

##

Be like me, be Carbon free - don't print this and save a tree
IMPORTANT: The contents of this email and any attachments are confidential.
They are intended for the named recipient(s) only. If you have received
this email by mistake, please notify the sender immediate

[2015-11-01 18:05] RCheesley opened #4 "Website integrations page doesn't include Oktopost information"
Hi folks,

The integrations page here: https://www.mautic.org/integrations/ seems to be missing the details about integrating with Oktopost, announced in the news release here: https://www.mautic.org/blog/mautic-oktopost-social-media-integration/

[2017-02-07 11:11] RCheesley opened #5 "Broken link to documentation"
On this page: https://www.mautic.org/getting-started/

The link to the docs on cron jobs is broken.

Currently goes to: https://www.mautic.org/docs/setup/index.html
Should be: https://mautic.org/docs/en/setup/cron_jobs.html

[2017-02-08 08:33] RCheesley opened #6 "RSS feed broken on blog"
The blog RSS feed seems to be broken:

Link from here: https://www.mautic.org/blog/
Source: https://www.mautic.org/feed/

The comments feed seems to work OK but the main blog feed is giving errors:

This page contains the following errors:

error on line 213 at column 90: Input is not proper UTF-8, indicate encoding !

[2017-07-17 15:49] phil-davis opened #7 "Contact Information - Getting Involved link not correct"
Not sure if this is a place to report this, since the code/text of the website is not here!

At https://www.mautic.org/about/contact-information/?option=com_content&view=article&id=23&catid=9&Itemid=120

The "Get Involved page" link is pointing back to the contact-information page.

It should point to something like:
https://www.mautic.org/get-involved/

[2017-07-17 17:07] jseevers commented on #7
Thanks Phil! Seems that page was a little dated. We appreciate you bringing it to our attention. The link has been fixed.

[2017-07-17 17:35] jseevers commented on #5
Good catch Ruth. We've adjusted the link.

[2017-07-17 18:00] #5 closed, assigned to nobody

[2017-07-17 18:00] #7 closed, assigned to nobody

[2017-07-24 19:49] RCheesley opened #8 "Slack/volunteer sign up form missing"
On this page https://www.mautic.org/get-involved/ it makes reference to a 'form below'  - seems to be broken/missing so perhaps the copy needs updating with a link to mautic.org/slack ? Or a volunteer sign up form or some kind?

[2017-07-24 21:04] jseevers commented on #8
Good catch Ruth. Fixed. I guess we got a little eager and put the cart before the horse. ;)

[2017-07-24 21:12] RCheesley commented on #8
No worries was referencing it in a slide deck and happened to notice it :)

On Mon, 24 Jul 2017, 22:04 Jeff Seevers, <notifications@github.com> wrote:

--

Be like me, be Carbon free - don't print this and save a tree
IMPORTANT: The contents of this email and any attachments are confidential.
They are intended for the named recipient(s) only. If you have received
this email by mistake, please noti

[2018-01-16 17:36] RCheesley opened #9 "Wordpress short codes showing on integrations page"
Reported on slack: https://mautic.slack.com/archives/C02HV781U/p1516038828000451

Short codes showing on integrations page

![screenshot-www mautic org 2018-01-16 17-35-56-322](https://user-images.githubusercontent.com/2930593/35003133-c6bb4fe8-fae3-11e7-9667-e4c2d31c24af.png)

[2018-07-20 10:48] digitall-it opened #98 "mautic.org incorrect shortcodes"
I would like to know what is the correct place to signal that the [tour URL](https://www.mautic.org/tour/) is experiencing shortcode malfuctioning.

[2018-07-20 10:52] digitall-it commented on #98
Maybe the issue is connected, but the [Slack invite page](https://www.mautic.org/slack) is also malfunctioning.

[2018-09-07 21:29] heathdutton opened #10 "Twig errors on staging.mautic.org"
An exception has been thrown during the rendering of a template ("The partial 'title' is not found.").
/var/www/html/themes/oc-theme-mautic-org/partials/forum_channel_main/topics.htm line 5

![screen shot 2018-09-07 at 5 26 48 pm](https://user-images.githubusercontent.com/302215/45243945-a025d180-b2c3-11e8-86d2-d613a433aa1a.png)

[2019-02-13 08:30] npracht opened #11 "Searchbar on top right is inefficient"
# Description
On top right of the v2 website, you have a search bar which is inefficient.
![capture d ecran 2019-02-13 a 09 30 21](https://user-images.githubusercontent.com/14075239/52697596-0947fa00-2f72-11e9-8e08-0e6c0d695139.png)

[2019-02-13 08:33] npracht opened #12 "Card header is not editable"
# Description
Card header is not editable.
Useless like that. Should be editable to add an image or simply remove it ?

### Example
http://staging.mautic.org/mauticians/npracht
![capture d ecran 2019-02-13 a 09 33 01](https://user-images.githubusercontent.com/14075239/52698003-f08c1400-2f72-11e9-830c-c202857fac97.png)

[2019-02-13 08:41] npracht opened #13 "content on forum page is not appropriated"
# Description
- [x] I clicked from http://staging.mautic.org/mauticamps/mauticamp-paris on "Group Posts" or "View all" and it redirects to http://staging.mautic.org/mauticamps/mauticamp-paris/forum but the content on the page doesn't seem related to `mauticamp-paris`.
I think there is an issue on the content filters.
- [x] Also on the page result if i click on a result, it doesn't do anything.

[2019-02-13 08:43] npracht opened #14 "cannot click on a listed result"
# Description
On the page http://staging.mautic.org/mauticamps/mauticamp-paris/ if you try to click on a result listed in the bottom boxes:
![capture d ecran 2019-02-13 a 09 43 44](https://user-images.githubusercontent.com/14075239/52698502-e0c0ff80-2f73-11e9-9f63-7d061aa66314.png)

There is no link. Consequence, you cannot read the related content...

[2019-02-13 08:45] npracht opened #15 "cannot join translation teams"
# Description
You cannot join the translation team. When you click on `Join`, nothing happens.
Try here: http://staging.mautic.org/translations/french-fr

[2019-02-13 08:46] npracht opened #16 "error on click in language forum"
# Description
On http://staging.mautic.org/mauticamps/french-fr/forum try to click on "View all" or "Group Posts" and see it generates an error.
[code]

[2019-02-13 08:47] npracht opened #17 "wrong link to view mauticians members of a language group"
# Description
On http://staging.mautic.org/translations/french-fr, Click on "Mautician" and it redirects to mauticamps. This is a wrong end page.

[2019-02-13 08:48] npracht opened #18 "Limit 1 vote per user on each feature"
# Description
The ability of voting for features is AWESOME and requested by many community member.
However, we should add control and limitation to that feature and limit 1 vote per feature per user to avoid spam and troll.
From http://staging.mautic.org/forum/topic/mautic-installation-different-websites see that you can vote many times.

[2019-02-13 08:49] npracht opened #19 "Error on posting and replying to forum threads"
# Description
On http://staging.mautic.org/forum/topic/mautic-installation-different-websites, Try to add a reply. It generates an SQL error:
[code]

[2019-02-13 08:51] npracht opened #20 "Click in the "Forum Channel" breadcrumb goes to wrong page"
# Description
On http://staging.mautic.org/forum/topic/mautic-installation-different-websites, Click in the "Forum Channel" breadcrumb goes to wrong page.

![capture d ecran 2019-02-13 a 09 51 06](https://user-images.githubusercontent.com/14075239/52698940-e79c4200-2f74-11e9-9059-37c3c264ea02.png)

[2019-02-13 08:52] npracht opened #21 "Use searchbar for topic, the query stays in pending status"
# Description
On http://staging.mautic.org/forum/channel/general-discussion, Use searchbar for topic, the query stays in pending status

[2019-02-13 08:55] npracht opened #22 "related article link on blog is wrong"
# Description
On a blog post, you have related articles. If you click on it, it drives you to the wrong page (posts list instead of post page).
Go http://staging.mautic.org/blog/post/identifying-your-target-market and click on one of those links:
![capture d ecran 2019-02-13 a 09 54 53](https://user-images.githubusercontent.com/14075239/52699170-6d1ff200-2f75-11e9-9ea9-937ee441cf13.png)

[2019-02-13 08:56] npracht opened #23 "content broken on logo and graphic page"
# Description
On http://staging.mautic.org/about/logos-and-graphics, the content is broken.
This is because the path is a direct copy/paste from existing page. It should be /storage/app/media - and none of the images are uploaded there. Tested with the first image, and it works. May need to decide if you're going to offload images to S3 though, and set up that first?
Layout is broken on current si

[2019-02-13 08:57] npracht opened #24 "CTA is missing on leadership page"
# Description
http://staging.mautic.org/about/leadership, no form, impossible to apply.

[2019-02-13 08:59] npracht opened #25 "missing feature request category on forum"
# Description
On http://staging.mautic.org/forum, there is no `feature request` category.
Maybe it is called `ideas` ? If yes, i think it should be clearer and we could rename to `ideas & feature requests` ?

[2019-02-13 09:01] npracht opened #26 "no content on developer side"
# Description
On http://staging.mautic.org/developers subcategories, there is no content. I think this zone is very important and we should work on guidelines to help people while keeping them in certain standard.
That's (IMO) a **Mautic 3** project work also.

[2019-02-13 09:03] npracht opened #27 "Add more CTAs on home page"
# Description
On http://staging.mautic.org/, Could we add more categories on homepage? Suggest a feature, report a bug (goes to github), help translating.

[2019-02-13 09:09] npracht opened #28 "Add CTAs on FAQ"
# Description
On http://staging.mautic.org/help, it would be awesome to have few CTAs like:
- [ ] request FAQ articles ---> like a pending list. We could consider cloning the voting feature ok that ? Then we know what to produce first depending on the community needs ?
- [ ] submit a content for a FAQ article ---> it would notify someone (a leader with a role) and this leader would have to approve

[2019-02-13 09:11] npracht opened #29 "terms and conditions missing"
# Description
Terms and conditions of the website are missing.

[2019-02-13 09:12] npracht opened #30 "missing cookie manager to be GDPR compliant"
# Description
To be in rights with GDPR (european law), we should add a missing cookie manager. This one is very easy to install and includes most of the cookies providers: https://github.com/AmauriC/tarteaucitron.js/

[2019-02-13 09:13] npracht opened #31 "add a new event with a date on mauticamp groups"
# Description
On [mauticamp groups](http://staging.mautic.org/mauticamps/mauticamp-paris), we should be able to add a new event with a date.
Then see upcoming events, past events and for each event description, location, date, link to meetup inscription page.

[2019-02-13 09:15] npracht opened #32 "no CTA to upload plugins on marketplace"
# Description
On http://staging.mautic.org/marketplace How can i upload or add a link to my plugin?

[2019-02-13 09:18] RCheesley commented on #3
This is an old issue relating to the .com site so closing it.

[2019-02-13 09:18] #3 closed, assigned to RCheesley

[2019-02-13 09:19] npracht opened #33 "strong marketplace manager"
# Description
I think for the future of mautic (must be in the mautic 3 roadmap), we should start to consider a more controled market place as does other open source projects.

## Suggestions

- [ ] Ability to submit a plugin
- [ ] Any plugin should be approved (technically with some requirements) manually or automatically (or a mix)
- [ ] Ability to offer it for free or with a specific price
- [

[2019-02-13 09:19] RCheesley commented on #6
This issue is resolved

[2019-02-13 09:19] #6 closed, assigned to RCheesley

[2019-02-13 09:24] npracht opened #34 "manage translations"
# Description
It would be very nice to give the opportunity to translate the main pages to reach a larger community.

[2019-02-13 09:32] RCheesley commented on #23
For now, I will update the file paths in the content file - will add the S3 question as a related card.

[2019-02-13 09:34] RCheesley opened #35 "Should a CDN be used for images?"
Flagging issue from #23 which raises the query of whether the media resources should be deployed via a CDN.

Amazon S3 docs: https://octobercms.com/docs/cms/mediamanager#amazon-s3

Rackspace docs: https://octobercms.com/docs/cms/mediamanager#rackspace-cdn

[2019-02-13 09:52] RCheesley opened #36 "Image files missing on current mautic.org site logos page"
Identified when working on #23
The following files are missing:

-  Dark background horizontal SVG no tagline https://www.mautic.org/media/logos/notagline/horizontal/Mautic_Logo_RGB_DB.svg
- Light background PDF logo https://www.mautic.org/media/logos/logo/Mautic_Logo_LB.pdf
- Light background SVG logo https://www.mautic.org/media/logos/logo/Mautic_Logo_LB.svg
- Dark background PDF monochrome logo

[2019-02-13 10:50] npracht opened #37 "create a pre-prod environment + continuous integration"
# Description
It would be very helpful for the contributors to community website to have a pre-prod website to test the things. When we validate, it goes to a PR and then to live environment.
I'm not an expert about those topics, maybe @heathdutton can help (i don't know how much it can be related to mautibox style).

[2019-02-13 10:51] npracht opened #38 "wrong label on login page"
# Description
On login page, it is written username but it requires the email address: http://staging.mautic.org/login

[2019-02-13 10:52] npracht opened #39 "reset password email incorrect"
# Description
Try to reset your password, you'll see that the content of the email is not appropriated.
**Subject and sender to modify, body of the message eventually.**

[2019-02-13 10:54] npracht opened #40 "add a validation message when modifying profile"
# Description
When you save your personal information (after modifying them), nothing happens. We should have a validation message.
On http://staging.mautic.org/mauticians/username/edit

[2019-02-13 10:55] npracht opened #41 "polish style of mautic groups labels"
# Description
On http://staging.mautic.org/mauticians/username, If you're in more than 1 mauticamp group, the tags are sticked to each other. May add some margin?

![capture d ecran 2019-02-13 a 11 54 37](https://user-images.githubusercontent.com/14075239/52706688-4ae2a000-2f86-11e9-9202-9a86e636facb.png)

[2019-02-13 10:56] RCheesley opened #42 "Brand teal is not defined in dashboard.css"
While fixing #23 I noticed that only purple and gold are defined in the dashboard.css - we should maybe include teal (and maybe all brand colours?)

http://staging.mautic.org/themes/oc-theme-mautic-org/dist/assets/css/dashboard.css

Unsure if this is being compiled from less or whether to edit the CSS directly so parking as an issue to deal with later.

[2019-02-13 10:56] npracht opened #43 "useless question tag button ?"
# Description
On http://staging.mautic.org/forum/topic/mautic-installation-different-websites, you have a small question tag button you can click. What is it for ?
![capture d ecran 2019-02-13 a 11 56 36](https://user-images.githubusercontent.com/14075239/52706753-71084000-2f86-11e9-8ae3-a96927fbdcc5.png)
![capture d ecran 2019-02-13 a 11 56 40](https://user-images.githubusercontent.com/14075239/5

[2019-02-13 10:58] RCheesley commented on #23
This is now resolved, I have re-used existing card-based styling from other pages to create the visual styling/layout.

http://staging.mautic.org/about/logos-and-graphics

Related issues above will need addressing before this is completely 'ready' as there are some broken links due to missing files, and brand-teal is not defined in the CSS so it does not appear in the card highlight at the bottom

[2019-02-13 10:58] npracht opened #44 "sort responses in forum depending on "likes""
# Description
On that type of page: http://staging.mautic.org/forum/topic/mautic-installation-different-websites Most liked replies should come on top of replies with kind of message "best answer" (like in stackoverflow)

[2019-02-13 11:02] #23 closed, assigned to RCheesley

[2019-02-13 11:14] npracht opened #45 "sort by vote feature requests"
# Description
In the forum, on the feature request category, we should be able to sort by amount of vote.
Need to answer this issue first: https://github.com/mautic/website/issues/25

[2019-02-13 11:15] npracht opened #46 "Forum pagination issue"
# Description
Pagination "Previous" shouldn't be shown for first page. And "Next" shouldn't for last page.
Example: http://staging.mautic.org/forum/channel/general-discussion?page=1

[2019-02-13 11:16] RCheesley commented on #11
This is using the component https://octobercms.com/plugin/offline-sitesearch - but I can't find a search results page set up on the site, which might be why it doesn't do anything when you search for something.

Looking into this now.

[2019-02-13 11:17] dbhurley commented on #11
The goal originally was to tie in Algolia for search.

[2019-02-13 11:17] npracht opened #47 "documentation management"
# Description
There is a page where you can find a piece of documentation. Why would we bring documentation on the website knowing that the doc is already existing on mautic.org/docs
**Isn't risky to have twice a doc?**

http://staging.mautic.org/getting-started

[2019-02-13 11:18] RCheesley commented on #11
Ah that's useful to know! Will do a bit more reading up.

[2019-02-13 11:18] npracht opened #48 "Style categories list on blog"
# Description
On the main blog page we don't have categories or tag to filter by.
See http://staging.mautic.org/blog

[2019-02-13 11:18] dbhurley commented on #47
These docs are end user not developer docs.

[2019-02-13 11:20] #9 closed, assigned to nobody

[2019-02-13 11:21] #8 closed, assigned to nobody

[2019-02-13 11:21] #4 closed, assigned to nobody

[2019-02-13 11:21] RCheesley commented on #11
Seems like the Algolia component on the October CMS directory only indexes blog posts: https://octobercms.com/plugin/xeor-algolia (at least this is my understanding) whereas the site search one installed has a plugin-based extendability which enables indexing multiple components on the CMS (and writing your own if needed).

[2019-02-13 11:23] RCheesley opened #49 "Consider Algolia search facility"
See #11 - goal was to use Algolia: https://octobercms.com/plugin/xeor-algolia

Parking for future consideration.

[2019-02-13 11:24] npracht commented on #47
Yes both of them. My question is why would we bring content concerning the end user doc on the website itself knowing that the end user doc is already on https://mautic.org/docs ? that means we'll have to maintain the doc twice.
I'd rather see a link from the website to the gitbook ?

[2019-02-13 11:27] dbhurley commented on #47
The Gitbook docs are hard to maintain, formatted terribly and do not cover the topics that are in the website. These are docs for the marketer not the developer and they will not go to Gitbook for the answers they are seeking (nor should they)

[2019-02-13 11:27] npracht commented on #47
So if i understand well, we would move from the gitbook documentation (user) to the documentation on the website, correct ? :)

[2019-02-13 11:29] dbhurley commented on #47
For now leave Gitbook alone. Those are docs related to specific components of the platform. The website discusses _how_ to do something. Subtle difference I know.

[2019-02-13 11:43] RCheesley commented on #11
Looks like search is working - created a simple search page to test: http://staging.mautic.org/search - with the results page http://staging.mautic.org/search-results?q=mautic - looks like it's indexing blogs currently as pages will need to have some custom stuff done to be indexed. So it seems the search bar is the culprit.

[2019-02-13 12:06] RCheesley commented on #11
Looks like there was some missing code on the partial for the site header, so it wasn't actually doing a search. Now is passing the query but not using the search results page so a step in the right direction!

[2019-02-13 12:17] RCheesley commented on #11
Search is now executing on the search-results page I created - code for header block in use:

[code]

[2019-02-13 12:22] RCheesley opened #50 "Style search results page"
Needs some styling attention - esp. pagination: http://staging.mautic.org/search-results?q=mautic

[2019-02-13 12:22] RCheesley opened #51 "Ensure all CMS pages and other resources are indexed in site search"
Currently only blog posts are being indexed in the site search

[2019-02-13 12:25] RCheesley commented on #11
Closing - the search results / search pages should be styled - see #50

[2019-02-13 12:25] #11 closed, assigned to RCheesley

[2019-02-13 12:26] RCheesley commented on #50
Also if required the static search page could do with some TLC http://staging.mautic.org/search

[2019-02-13 12:35] RCheesley commented on #29
Added a link to the Privacy Policy on the About page - http://staging.mautic.org/about - and set up the privacy policy page to reflect the layout of the about section, by adding the related pages and default layout.

[2019-02-13 12:40] RCheesley commented on #29
@dbhurley @npracht do we need any further T&C's? I couldn't find anything on the current Mautic site that was clearly linked to from any nav structures, found the privacy policy via Google search.

For example, I added the contributors agreement which I guess should also be in this section?

[2019-02-13 12:50] #29 closed, assigned to RCheesley

[2019-02-13 13:15] dbhurley commented on #43
The question allows for people to specify if an answer has been provided and mark it as “solved”

[2019-02-13 13:15] RCheesley commented on #12
Incorrect syntax being used to load the avatar:

```<div class="card-header" style="background-image: url({{ user.avatar.getPath() }});"></div>```

Changed to:
```<div class="card-header" style="background-image: url({{ user.avatarThumb(300) }})";"></div>```

[2019-02-13 13:15] #12 closed, assigned to RCheesley

[2019-02-13 13:21] dbhurley commented on #25
In the ideas category description we can add something that mentions feature requests.

[2019-02-13 13:22] RCheesley commented on #12
@npracht this might need a bit more tinkering to actually get a decent size. I set it to pull the avatar image at 300px which seems to work, but on your image that results in goofy cropping. So may want to use cropping but couldn't get this to work: https://stackoverflow.com/a/49222806/8997363

[2019-02-13 13:23] dbhurley commented on #35
It would be nice to integrate a CDN for media delivery (not sure if it’s a must-have)

[2019-02-13 13:24] dbhurley commented on #34
This absolutely can be done, and was started in the October CMS backend

[2019-02-13 13:25] dbhurley commented on #28
Agreed, this should live in the right hand column.

[2019-02-13 13:39] npracht commented on #12
What about making it squary like most of the time it is (Github, Gravatar, etc.) ?

[2019-02-13 13:40] npracht commented on #43
Ok then we should add a tooltip or a little text next to it like `Did this answer helped ?`

[2019-02-13 13:48] RCheesley commented on #35
Yep I have put this as a low priority issue.

On Wed, 13 Feb 2019 at 13:23, DB Hurley <notifications@github.com> wrote:

--
Ruth Cheesley

[2019-02-13 13:51] RCheesley commented on #12
Could do, but this requires a change to the CSS - unsure if this is being compiled from LESS/SASS so not touching CSS yet. I'll raise as a separate enhancement issue

[2019-02-13 13:51] RCheesley opened #52 "Make user profile avatar square"
See #12 - would be nice to have the image on the user profile square rather than pillarbox.

[2019-02-13 14:11] RCheesley commented on #13
OK so there are a few issues here:

1. I don't see any mauticamp-specific forum categories here: http://staging.mautic.org/forum so this doesn't seem to be trying to link to the forum itself, but some kind of forum that exists within the group system. Confusing.

2. Mauticamp Paris group http://staging.mautic.org/mauticamps/mauticamp-paris seems to be linking through the 'view all' on the threads

[2019-02-14 17:36] RCheesley commented on #21
Able to replicate.

[2019-02-14 17:41] RCheesley opened #53 "Error on posting new forum thread - General Discussion"
SQLSTATE[HY000]: General error: 1364 Field 'id' doesn't have a default value (SQL: insert into `rainlab_forum_posts` (`topic_id`, `member_id`, `content`, `content_html`, `updated_at`, `created_at`) values (104480, 6844, Testing if I can post a thread on the general discussion forum, <p>Testing if I can post a thread on the general discussion forum</p>, 2019-02-14 17:40:54, 2019-02-14 17:40:54))

[2019-02-14 17:46] RCheesley commented on #53
Same error on replying: SQLSTATE[HY000]: General error: 1364 Field 'id' doesn't have a default value (SQL: insert into `rainlab_forum_posts` (`topic_id`, `member_id`, `subject`, `content`, `content_html`, `updated_at`, `created_at`) values (104414, 6844, Recent Activity on Contact view vs Detail view, Test reply, <p>Test reply</p>, 2019-02-14 17:45:54, 2019-02-14 17:45:54))

[2019-02-14 17:53] RCheesley commented on #53
See also #19

[2019-02-14 17:53] #53 closed, assigned to nobody

[2019-02-14 17:54] RCheesley commented on #19
Closed issue I raised as a duplicate of this. The same problem occurs when posting new threads, and when replying. Guess something is wonky somewhere with queries or fields?

[2019-02-14 18:13] RCheesley commented on #21
@npracht @dbhurley I think this is an issue of the volume of threads being searched. Go into the blog category, search for 'woocommerce' and it returns results almost immediately.

The main search on the forum seems to be struggling because it's searching a vast number of threads (just over 6k - so not vast in the wider picture of forums)

I'd expect most folk to do a high-level search rather than

[2019-02-14 18:19] RCheesley commented on #47
So I guess the difference is that the gitbook docs are like an engineers manual for those who like to DIY. The developers docs are the technical drawings of how the engine works for folk who build engines or stuff that works with the engines - or the DIY'ers who want to do more.

The stuff that will sit on this site will be 'how to drive the car and do it well/properly'?

[2019-02-14 18:27] RCheesley commented on #39
- Changed from name to Mautic
- Email template seems to be fine
- Removed app name from default template footer

![screenshot-mail google com-2019 02 14-18-27-03](https://user-images.githubusercontent.com/2930593/52808608-34bc0900-3086-11e9-8786-ee6badea2f73.png)

[2019-02-14 18:27] #39 closed, assigned to RCheesley

[2019-02-14 18:32] RCheesley commented on #38
Resolved - edit the account/default partial

[2019-02-14 18:32] #38 closed, assigned to RCheesley

[2019-02-14 18:37] RCheesley commented on #33
From what I can see the current plugin allows you to submit and review, manage versions (but I can't see how this works in the back-end gui), but that's about it.

[2019-02-14 18:41] RCheesley commented on #30
https://octobercms.com/plugin/code200-eucookielawmadness  this seems to be the most popular one with October CMS.

This one uses implied consent: https://octobercms.com/plugin/cggstudio-cookielawbanner

Depends on what you want to go for - and cookies aren't actually that relevant to GDPR, really ;)

[2019-02-15 08:18] npracht commented on #21
I'm not skilled to carry that but i understand what you mean. I guess this kind of search would perform better with elastic search or something like that that refer to noSQL ?

[2019-02-15 12:20] dbhurley commented on #47
Thank you Ruth, I was clearly struggling to describe that. Yes. This.

[2019-02-19 16:56] RCheesley commented on #22
Fixed this - on the partial sidebars/blog.htm the post page link was incorrectly set to use the category. This was generating the category slug instead of the post slug.

[2019-02-19 16:56] #22 closed, assigned to nobody

[2019-02-19 17:02] RCheesley opened #54 "Review Discourse as possible forum platform"
The current forum has several problems and may not be fit for purpose. Discourse may be a valid alternative option but consideration needs to be given to ensure it would meet the current/future needs of the community and could be seamlessly integrated into the existing October CMS site.

To do:

- [ ] Install Discourse

- [ ] Set up basic features/structure per current implementation on October CM

[2019-02-19 17:13] RCheesley commented on #48
I've added a block on the right which shows the categories - it needs styling though.

[2019-02-20 07:46] kuzmany commented on #54
I am not fan of Discourse. That style make me headache :)

[2019-02-20 08:04] kuzmany opened #55 "Rework header"
I think this part is UX hell.
We need make more UX friendly

![image](https://user-images.githubusercontent.com/462477/53075847-73bae600-34ee-11e9-8735-b4cc2dcb2cd6.png)

[2019-02-20 08:06] kuzmany opened #56 "Right menu fixed"
I think we need see sections even If scroll page the bottom.

![image](https://user-images.githubusercontent.com/462477/53075926-ad8bec80-34ee-11e9-8d61-b490b001502e.png)

[2019-02-20 08:23] kuzmany commented on #47
But at the moment users cannot add/edit documentation on staging?
I am using GitBook on https://docs.mtcextendee.com/ and I didn't notice any issue. Something like Wordpress

[2019-02-22 23:24] kuzmany commented on #13
Working on it

[2019-02-23 20:11] kuzmany commented on #13
First this section need some additional setup in backend:

1, First create forum channels:
http://staging.mautic.org/maut-org-adm/rainlab/forum/channels

2, Then map this channel to groups

![image](https://user-images.githubusercontent.com/462477/53291170-4486cc00-37af-11e9-8fe3-3d1290bd0240.png)

Now looks properly http://staging.mautic.org/mauticamps/mauticamp-paris (then wee need fix just ask

[2019-02-23 21:42] RCheesley commented on #13
I can help with creating the forum channels and updating them in the UI, if
that's what you mean?

I'm not sure about the migration and whether there's any specific forums
currently.

On Sat, 23 Feb 2019, 20:11 Zdeno Kuzmany, <notifications@github.com> wrote:

[2019-02-25 19:27] RCheesley commented on #13
@kuzmany I've mapped all the forums to the groups, creating the forums if they were missing.

[2019-02-25 19:39] RCheesley commented on #13
When I try to post in the forum it silently fails with no error messages on the front-end. When I happened to check something else in the back-end I saw this popup:

SQLSTATE[HY000]: General error: 1364 Field 'id' doesn't have a default value (SQL: insert into `rainlab_forum_posts` (`topic_id`, `member_id`, `content`, `content_html`, `updated_at`, `created_at`) values (104512, 6844, Is this thing

[2019-02-25 19:41] kuzmany commented on #13
@RCheesley I know that issue.
On my local enviroment works, on staging doesn't.

[2019-02-25 19:45] RCheesley commented on #16
I think that this relates to #13 in that the groups need to be connected up to the correct forums

[2019-02-25 19:48] RCheesley opened #57 "Translation groups are duplicated"
This could be a problem for SEO:

http://staging.mautic.org/mauticamps/bulgarian-bg

http://staging.mautic.org/translations/bulgarian-bg

Same thing but using a different layout.

Parking it as we might need to dig into the how/why.

[2019-02-25 20:08] RCheesley commented on #54
@kuzmany from a community management and technical aspect I have my concerns that the RainLab forum will hold up beyond anything more than our early beta testing - hence the issue for discussion.

Given the scale that the Mautic community is currently (~5300 on slack as a starting point) and expectations to grow further as adoption increases, we have to think with the big-picture both from the arc

[2019-02-25 20:21] RCheesley commented on #16
See also #57 which may be related

[2019-02-25 20:26] RCheesley commented on #57
I think this might be due to the way that the translation and mauticamp pages are set up - it looks like the translations page is incomplete and it's using the usergroups partial on the side menu, which is generating usergroup URL structures.

[2019-02-25 20:28] RCheesley commented on #16
Closing this issue as unable to replicate and the URL structure itself is incorrect (which will be addressed in issues tagged).

[2019-02-25 20:28] #16 closed, assigned to nobody

[2019-02-25 20:29] RCheesley commented on #10
Unable to replicate - closing as this seems to have been resolved in earlier commits or with the forums being connected up.

[2019-02-25 20:29] #10 closed, assigned to nobody

[2019-02-25 20:31] RCheesley commented on #17
This is due to the incorrect sidebar menu being used - related issue #57 - sidebar is needed for translations  (or using a more dynamic architecture) so that the URL structures are correct.

[2019-02-25 20:33] RCheesley commented on #14
This is because the forums were not linked up. Connected them up now (see #13) so this should be resolved.

[2019-02-25 20:33] #14 closed, assigned to nobody

[2019-02-26 11:04] kuzmany commented on #57
Yes,  for example Mauticamps would have in future vents  (something with date)
Also translations at the moment are just groups with forum and then we will add with some stats from transifex and link to transifex..

[2019-02-26 11:14] RCheesley commented on #57
Yes, for sure. Just need to make a partial for it and update the page
layout accordingly. Should not be too difficult!

On Tue, 26 Feb 2019 at 11:04, Zdeno Kuzmany <notifications@github.com>
wrote:

--
Ruth Cheesley

[2019-02-26 11:25] kuzmany commented on #13
Now possible add new ask to Mauticamp forum
http://staging.mautic.org/mauticamps/atlanta/forum

[2019-02-26 11:31] kuzmany commented on #19
Works now.
Please test and close it

[2019-02-26 11:34] kuzmany commented on #32
From profile
But this part need some touch of course and add C2A on particulare places

![image](https://user-images.githubusercontent.com/462477/53409964-ba16b600-39c2-11e9-909b-8dafa21e7324.png)

[2019-02-26 11:34] RCheesley commented on #13
I can post, but when I click on your message it doesn't do anything :)

On Tue, 26 Feb 2019 at 11:25, Zdeno Kuzmany <notifications@github.com>
wrote:

--
Ruth Cheesley

[2019-02-26 11:34] RCheesley commented on #19
I can't open the threads you posted on the Atlanta board to reply to!

On Tue, 26 Feb 2019 at 11:31, Zdeno Kuzmany <notifications@github.com>
wrote:

--
Ruth Cheesley

[2019-02-26 11:36] kuzmany commented on #13
@RCheesley Yes I know about it. Forgot :(

[2019-02-26 14:15] kuzmany commented on #13
@RCheesley should works now

[2019-02-26 15:39] RCheesley commented on #32
I think it makes sense for there to be an 'add listing' button on the
marketplace [for logged-in users] if it's possible to implement - that's
where people are likely to be when they want to add one.

The link in the profile I would expect [as a user] to be where I found ones
I've already submitted, and to add more.

On Tue, 26 Feb 2019 at 11:34, Zdeno Kuzmany <notifications@github.com>
wrote:

--

[2019-02-26 15:41] RCheesley commented on #13
Have you pushed it to the staging server? I'm still getting no response
when I click on the threads.

On Tue, 26 Feb 2019 at 14:15, Zdeno Kuzmany <notifications@github.com>
wrote:

--
Ruth Cheesley

[2019-02-26 15:45] kuzmany commented on #57
@RCheesley but let's mark issues what are necessary for push website to production.
During this round I  also will improve some stuff like this, but now I am little lost.
Could we create new label - Must have before production start :D or something like that?

[2019-02-26 15:48] kuzmany commented on #13
@RCheesley Sorry I forgot.

[2019-02-26 15:59] RCheesley commented on #57
I believe that's what the P1/P2/P3 tags were intended for. This is pretty
critical because it's mucking up the URL structure, I can work on it later
tonight.

On Tue, 26 Feb 2019 at 15:45, Zdeno Kuzmany <notifications@github.com>
wrote:

--
Ruth Cheesley

[2019-02-26 16:14] kuzmany commented on #57
Do we need translations during the website start?

[2019-02-27 10:24] kuzmany commented on #21
This is fixed for forums.
Need fix search for Mauticamps and other sections.

[2019-02-27 10:40] kuzmany opened #58 "Timeframe to public"
@dbhurley @npracht @RCheesley

Hi guys,

this is my suggested timeframe for website going to production:

- from sunday to wednesday (3-6. 3.) I am  out off office
- The pre-final version of website should be ready 7. march (friday next week) - that means, during that weekend we should take final touch and If website will works properly, then go to public
 - until this date I would like close the

[2019-02-27 11:08] RCheesley commented on #58
Please also account for time to do the redirects necessary to ensure
continuity of search engine presence.

On Wed, 27 Feb 2019 at 10:40, Zdeno Kuzmany <notifications@github.com>
wrote:

--
Ruth Cheesley

[2019-02-27 11:08] RCheesley commented on #21
Great, what was the problem?

On Wed, 27 Feb 2019 at 10:24, Zdeno Kuzmany <notifications@github.com>
wrote:

--
Ruth Cheesley

[2019-02-27 11:11] kuzmany commented on #21
Added index to database column.

[2019-03-08 14:56] RCheesley commented on #57
The steps to fix this seem (at first sight) to ~~be fairly simple~~ need the following steps:

- [x] Create a component_translations partial
- [x] Create the missing page layouts for translations groups (copy from mauticamps forum, mauticians, group topic)
- [x] Create the missing partials for translation forums (copy from forum_channel_usergroup)
- [x] Clone sidebar from component_usergroup for u

[2019-03-08 16:00] RCheesley commented on #13
I believe this is fixed but didn't see any PR's for it yet so can you commit the code @kuzmany and close the issue?

[2019-03-08 16:01] RCheesley commented on #19
@kuzmany I believe this is resolved now? Not sure about the commits fixing the problem though?

[2019-03-08 16:03] RCheesley commented on #21
Great. Closing issue as this now works.

[2019-03-08 16:03] #21 closed, assigned to nobody

[2019-03-08 16:08] RCheesley commented on #15
@kuzmany I think this might well be the same problem we had with the user group forums - it might be that the fix needs applying to the translation page/partial as well?

[2019-03-11 00:18] kuzmany commented on #15
Join should work
http://staging.mautic.org/translations/english-uk-gb

[2019-03-11 00:21] kuzmany commented on #19
Yes It works.
There are another bugs (search, mauticamp topics in forum - find anseer)
I will fixed it later.

[2019-03-11 00:21] #19 closed, assigned to nobody

[2019-03-11 00:23] kuzmany commented on #13
Same like this
https://github.com/mautic/website/issues/19#issuecomment-471369486

All changes are commited.

[2019-03-11 00:23] #13 closed, assigned to kuzmany, RCheesley

[2019-03-11 00:26] kuzmany commented on #17
Lets finish it here

https://github.com/mautic/website/issues/57

[2019-03-11 00:26] #17 closed, assigned to RCheesley

[2019-03-11 00:26] kuzmany commented on #57
Discussed on dicscord:

last commit fixed it. Updated on staging.   h
ttp://staging.mautic.org/translations/english-uk-gb
Need fix search, but should works without duplicate partials.
Do you have in your PR another bugfixes what I missed?

[2019-03-11 08:25] kuzmany opened #60 "Roadmap"
## First production release

#### Fixed all minor issues

- [x] search  in each section and global search
- [ ] other bugs from github issues
- [ ] voting (fix or hide at the moment not time)
- [x] minor ux improvement
- [x] minor bufixes (email template, email sender after registration)
- [x] improve bread navigation

#### Markeplace  - 70% done at the moment
 - [x] just extensions linked to gith

[2019-03-11 11:34] RCheesley opened #61 "Create robots.txt and prevent staging site from being indexed"
Need to prevent the staging site from being indexed by search engines.

Ideally should use an X-Robots tag, but we should have a robots.txt as a fallback until that can be resolved.

The site needs to be de-indexed so we need to add it to Search Console for ongoing management.

[2019-03-11 11:54] RCheesley commented on #61
I have tried to set the X-Robots via htaccess but it's not working, so I've set it in a robots.txt via a plugin. Also verified the domain in Google Search Console.

Ultimately we should fix the x-robots issue and set it so that it checks the domain name - eg. if staging.mautic.org then set it to not index etc, but if www then index (maybe restrict certain file types if we need to).

I think it may

[2019-03-11 11:57] RCheesley opened #62 "Analytics/tracking for site on launch"
At present we have not tested any analytics/tracking on the staging.mautic.org site.

The live site has GA tracking so we should consider how to deploy this.

I'd recommend using GTM and embedding the GA tracking that way, for ease of management. We may also deploy New Relic tracking this way.

@dbhurley should I set up a GTM container, or do you have one already that you can add me to? Could I be

[2019-03-11 12:00] RCheesley commented on #60
@kuzmany suggest that we use the milestones on the GH repo, and then we can keep track of where we are in relation to open issues.

[2019-03-11 12:20] RCheesley opened #63 "Missing content link on sidebar (about page)"
- [x] Mautic Trademark is linking to about page, should link to http://staging.mautic.org/about/trademark

[2019-03-11 12:22] RCheesley opened #64 "Create sitemap"
Site needs a sitemap for the basic links

[2019-03-11 12:31] kuzmany commented on #60
Yes, go for it ;)

I reworked  layout http://staging.mautic.org/ just with features what are really close to production. I am gonna try fix issue later (search etc).
You can improve content
If you have time. Help section,  blog etc a lot need more content.
Also we should improve and fix content of post http://staging.mautic.org/help/getting-started

[2019-03-11 12:31] RCheesley commented on #64
I have installed a plugin which enables multilingual SEO and sitemaps (note, don't recommend using it for the SEO).

I've created a simple sitemap which includes the main pages linked on the menus, and the contents of the dynamic pages (help, marketers blog, developers blog).

If we wish to include forums we would need to add support for it in the plugin - see https://octobercms.com/plugin/utopigs

[2019-03-11 12:39] kuzmany commented on #60
Also I disabled global search because get results just from pages (not forums, not blog etc)
There is plan add google search as global option and in each sections like forum, help we will us our own search component.
Does it make sense?

[2019-03-11 12:56] RCheesley commented on #60
There's already an issue about this - I wrote what we need to do to include
forum results, apparently it should be pretty quick to do.

On Mon, 11 Mar 2019 at 12:39, Zdeno Kuzmany <notifications@github.com>
wrote:

--
Ruth Cheesley

[2019-03-11 12:56] RCheesley commented on #51
@kuzmany

[2019-03-11 13:27] #64 closed, assigned to RCheesley

[2019-03-11 14:06] #63 closed, assigned to RCheesley

[2019-03-11 14:18] RCheesley commented on #60
@kuzmany about the getting started page, I'll create a new issue as part 1 (download) doesn't seem to work!

[2019-03-11 14:22] RCheesley opened #67 "Getting started page: download doesn't work"
http://staging.mautic.org/help/getting-started# the section for download seems to be missing - also the accordion isn't working.

Either need to fix or remove!

[2019-03-11 16:10] RCheesley opened #68 "Ensure all content from mautic.org is properly migrated, redirected or killed"
Prepared a spreadsheet with all content (based on sitemaps) from mautic.org here:

https://docs.google.com/spreadsheets/d/1PZ3lETp_6chZshQkEOSRYJ3c6nMzDALgzhmfsTSihaI/edit?usp=sharing

Will work through and figure out what content is missing, needs to be removed (and hence killed with a 410) or redirected to appropriate places.

[2019-03-11 17:42] RCheesley opened #69 "Migrate forums prior to launch"
Forums are still being actively used, therefore forums and users will need to be re-migrated prior to site launch.

See: https://www.mautic.org/activity/ for recent activity and https://www.mautic.org/mauticians/ for user profiles

[2019-03-11 17:46] RCheesley commented on #58
Closing this as we have captured the need to re-import forum in #69

[2019-03-11 17:46] #58 closed, assigned to dbhurley

[2019-03-11 17:50] RCheesley commented on #68
@kuzmany there are a bunch of blogs missing - are you able to re-import them using the scripts we have access to?

[2019-03-11 22:06] RCheesley commented on #48
This is resolved with commit https://github.com/mautic/website/commit/0a69d3b1b9ee090bf614e55854b0f620134d7f64

[2019-03-11 22:06] #48 closed, assigned to RCheesley

[2019-03-11 22:55] RCheesley commented on #26
@npracht any chance you might be able to contribute some content for this section, or suggest some developers who could? I am happy to edit and proof read but don't have the technical skills to write the stuff directly.

If folk can provide enough of a bare-bones I could write something though.

Some ideas for content off the top of my head:

- The three existing topics on the staging site (creati

[2019-03-12 08:27] kuzmany commented on #26
I think a lot of content exists on mautic.org and mautic.com
Or somewehere else
Just need copy that
Maybe already migrated, there are lot of hidden migrated pages/posts in admin

[2019-03-12 08:27] kuzmany commented on #26
I improve this section with right sidebar

[2019-03-12 08:29] kuzmany commented on #20
We need rework urls and logic to forum/channel-name/topic-name
Then we will able do that like in Mauticamps and Translations.
Working on it

[2019-03-12 08:31] kuzmany commented on #69
I thought forum was closed times ago.
But I will look on existed migrations script.  Hope It shouldn't pain process

[2019-03-12 08:33] kuzmany commented on #61
What about robots.txt? http://staging.mautic.org/robots.txt
I see should disallow, but I find a lot of results in google.

[2019-03-12 08:35] kuzmany commented on #50
Still prefere google search or another indexed system for globl search.
Our structure urls and groups/channels now require a lot of work bring useful global search.

[2019-03-12 08:36] kuzmany commented on #55
Should work better now
- removed switch languages
- removed global search
- moved some items to header and not important things to footer

[2019-03-12 08:36] #55 closed, assigned to nobody

[2019-03-12 08:51] kuzmany commented on #26
Also we need clean up blog sections/categories
Now we have duplications

http://staging.mautic.org/blog/category/developers

[2019-03-12 08:52] #37 closed, assigned to nobody

[2019-03-12 08:54] RCheesley commented on #61
I only just set disallow yesterday. It had been indexed for ages.

We need to set the xrobots header on the staging site really, robots isn't
the best way to do it.

I'll follow this one up with David.

On Tue, 12 Mar 2019, 08:37 Zdeno Kuzmany, <notifications@github.com> wrote:

[2019-03-12 08:54] RCheesley commented on #69
I don't think they were, at least when I checked the forums yesterday I
could see new post activity.

On Tue, 12 Mar 2019, 08:34 Zdeno Kuzmany, <notifications@github.com> wrote:

[2019-03-12 08:55] RCheesley commented on #20
This might be a simple fix, let's chat about it

On Tue, 12 Mar 2019, 08:32 Zdeno Kuzmany, <notifications@github.com> wrote:

[2019-03-12 08:55] kuzmany commented on #62
Confirmed, no tracking code  on staging

GA ID from mautic.org -  UA-55195964-1

Tagmanager would be  helpful

[2019-03-12 08:56] RCheesley commented on #26
There is a developer blog, but that is more information about the project
which is of interest to developers.

The aim for this section seems to be more for tutorials and the like,
relevant to developers.

On Tue, 12 Mar 2019, 08:29 Zdeno Kuzmany, <notifications@github.com> wrote:

[2019-03-12 08:57] kuzmany commented on #33
Current marketplace it's just simple directory for plugins
Definitely need marketplace with one click installation and add free/buy options to increase devs motivation build better plugin.
John mentioned it here https://johnlinhart.com/blog/my-mautic-3-wishlist

@escopecz do you have some experience with this? best practice?

[2019-03-12 09:01] #57 closed, assigned to RCheesley

[2019-03-12 09:03] RCheesley commented on #26
I've been working on this. It's not a duplication, there are a bunch of
blog entries which are focused at developers but which are not tutorials so
they would not fit under the developers & API section.

On Tue, 12 Mar 2019, 08:59 Zdeno Kuzmany, <notifications@github.com> wrote:

[2019-03-12 09:04] RCheesley commented on #37
Was this completed?

On Tue, 12 Mar 2019, 09:01 Zdeno Kuzmany, <notifications@github.com> wrote:

[2019-03-12 09:06] kuzmany commented on #20
Do you mean there is another way how to do it?
I tried few ways, but without success :(

[2019-03-12 09:07] kuzmany commented on #61
Perfect.
Good to know it.

[2019-03-12 09:08] kuzmany commented on #26
I vote for move all blogs/content related to devs to Devs sections.
We need divide both worlds marketing & devs definitely.

[2019-03-12 09:22] kuzmany commented on #25
Renamed and add description do each channel

http://staging.mautic.org/forum/channel/ideas

[2019-03-12 09:22] #25 closed, assigned to nobody

[2019-03-12 10:24] RCheesley commented on #26
OK, so here are the developer marketing blogs: https://www.mautic.org/category/blog/developer/ - you think we should have all of those in the developer & api section on the new site (http://staging.mautic.org/developers)?  I disagree, I think they are blog articles and news, not reference material.

The developers & API section is aimed to be a 'help' section specifically for developers - a half-w

[2019-03-12 10:48] kuzmany commented on #26
Agree with that. Just put articles where it make sense for you.
Maybe we should rename blog category Developers to something different, more logical.
Great work!

[2019-03-12 10:50] RCheesley commented on #26
Yep, I think I called it developers marketing or something just so my tired brain didn't get confused! xD

[2019-03-12 10:50] RCheesley commented on #20
OK so I think I know what the problem is here, at least I have a hunch.  Ultimately this breadcrumbs plugin is for pages, and I don't think it's set up to be used on forums.

It *could* be related to the fact that with OctoberCMS, when you use a parameter in the URL slug, you can only use it at the end of the URL. You can't have parameters in the middle of a URL. See reference here: https://octobe

[2019-03-12 11:55] RCheesley commented on #69
https://www.mautic.org/forums/forum/ideas/
https://www.mautic.org/forums/forum/3rd-party-addons/

These seem to be the two forums which have had new activity over the past month.

[2019-03-12 12:14] RCheesley opened #71 "User card on blog article is not populating"
This is pulling from component_usergroup/user-card-small.htm

When a blog article has a user associated with it, their avatar and details should show on the right hand side, with a link to their profile.

![screenshot-staging mautic org-2019 03 12-12-12-56](https://user-images.githubusercontent.com/2930593/54199183-324fa200-44c0-11e9-8a58-2aa25956edd1.png)

Currently it is not being pulled through

[2019-03-12 13:09] RCheesley opened #72 "Minor fix on pagination for blog posts category view"
Currently seems to be unstyled, see below

![screenshot-staging mautic org-2019 03 12-13-08-52](https://user-images.githubusercontent.com/2930593/54202489-105a1d80-44c8-11e9-9b6b-c11f80d9ab02.png)

[2019-03-12 21:20] kuzmany commented on #20
I can handle it.
I am going to fixed it

[2019-03-12 23:54] kuzmany commented on #20
New fixed

http://staging.mautic.org/forum/topic/benefits-and-advantages-of-voice-broadcasting

[2019-03-13 21:21] kuzmany commented on #71
Fixed http://staging.mautic.org/blog/post/community-team-changes

[2019-03-13 21:22] kuzmany commented on #72
Fixed http://staging.mautic.org/blog?page=2

[2019-03-13 21:30] kuzmany commented on #67
Can you rework the content to blog structure just content?

http://staging.mautic.org/help/getting-started#

[2019-03-13 22:14] RCheesley commented on #67
Yes, I'll take a look tomorrow!

On Wed, 13 Mar 2019, 21:30 Zdeno Kuzmany, <notifications@github.com> wrote:

[2019-03-13 22:16] RCheesley commented on #72
Looks great!

[2019-03-13 22:16] #72 closed, assigned to kuzmany

[2019-03-13 22:17] RCheesley commented on #71
Perfect, that's great!

[2019-03-13 22:17] #71 closed, assigned to kuzmany

[2019-03-13 22:18] RCheesley commented on #36
@dbhurley can you please track down the missing files mentioned in this issue?

[2019-03-13 22:19] RCheesley commented on #26
I'm working on this from the content perspective. I've asked a couple of community members if they'll contribute or reach out to others who can do so.

[2019-03-13 22:20] RCheesley commented on #20
Perfect! Tested in several categories and works great!

[2019-03-13 22:20] #20 closed, assigned to kuzmany

[2019-03-18 16:43] RCheesley opened #73 "Fix blog categories"
Need to reinstate blog categories & categorise articles.

[2019-03-19 08:31] escopecz commented on #33
I've submitted several extensions to other PHP OSS projects. I wouldn't call any ideal but we can take some ideas from them.

### Joomla Extensions

https://extensions.joomla.org

A developer submits a zip file with the extensions. It goes through automatic scan. If there is something fishy it goes through manual validation process. It scans for methods like `base64` which can be used to hide some

[2019-03-19 09:16] RCheesley commented on #33
Some great feedback, perhaps we need to review what is already in place on
the marketplace on staging (eg public repo links are already there) and
prioritise what features we feel need to be implemented?

We can't do all of these in the first release but I'm sure with some
development support we could implement some in subsequent releases.

On Tue, 19 Mar 2019, 08:31 John Linhart, <notifications@g

[2019-03-19 09:33] kuzmany commented on #33
- dependency is the most important thing, many of my plugins use composer like this https://github.com/mtcextendee/mautic-barcode-generator-bundle
- zip upload is the worst scenario, from my dev side I am able to serve stable solution just from one source (github)
- plugins for Mautic at the moment have two ways of install - manual or composer, this is why we can't use zip file in current marketpl

[2019-03-19 09:37] RCheesley commented on #33
I like how October represent dependencies on other plugins - it shows you
really clearly on the marketplace listing what plugins need to be installed
to work with the plugin you're viewing.

So in addition to the code dependencies that might also be useful to have
as an option.

It feels like the marketplace itself is a separate project in itself
really, perhaps?

On Tue, 19 Mar 2019, 09:33 Zdeno

[2019-03-19 09:39] kuzmany commented on #33
really, perhaps?

Definitely.

[2019-03-25 20:44] RCheesley commented on #73
This is now completed, all blogs are re-assigned to categories .. let's be careful now eh ;)

[2019-03-25 20:44] #73 closed, assigned to RCheesley

[2019-03-27 08:13] kuzmany commented on #67
This is fixed
We can improve content in the future (screenshots etc)
http://staging.mautic.org/help/getting-started

[2019-03-27 08:13] #67 closed, assigned to RCheesley

[2019-03-27 08:13] kuzmany commented on #60
Close, I will wrote today new info about pre-production release

[2019-03-27 08:13] #60 closed, assigned to nobody

[2019-03-27 08:15] kuzmany opened #74 "Download form doesn't work"
http://staging.mautic.org/download

- No error statement
- Now download

[2019-03-27 08:18] kuzmany commented on #69
Do we need migration? IMHO I sacrifice that data prior to launch new website soon.
We don't loose to much. What do you think?
And I will safe several hours of my work ;)

[2019-03-27 08:20] kuzmany opened #75 "Fix blog&dev section layout without image"
we don't need image to all posts, content is more important

[2019-03-27 08:21] kuzmany commented on #36
What is state of this?

[2019-03-27 08:24] #15 closed, assigned to nobody

[2019-03-27 08:25] kuzmany commented on #32
Profile was redesigned.
Just need few minor improvements (coming soon).

![image](https://user-images.githubusercontent.com/462477/55060615-28a66c80-5072-11e9-8a11-20e3974d8b5a.png)

[2019-03-27 08:25] #32 closed, assigned to kuzmany

[2019-03-27 08:25] #50 closed, assigned to nobody

[2019-03-27 08:26] kuzmany commented on #46
Should fixed

[2019-03-27 08:26] #46 closed, assigned to nobody

[2019-03-27 08:28] kuzmany commented on #40
Fixed

[2019-03-27 08:28] #40 closed, assigned to nobody

[2019-03-27 08:30] kuzmany commented on #24
@RCheesley can you look on it or close and remove this page?

[2019-03-27 08:54] RCheesley commented on #24
I can't today, but yes ultimately. Assume it would be a Mautic form? Is
there a current process?

On Wed, 27 Mar 2019, 08:30 Zdeno Kuzmany, <notifications@github.com> wrote:

[2019-03-27 08:55] RCheesley commented on #32
Looks great! Will take a closer look tomorrow.

On Wed, 27 Mar 2019, 08:25 Zdeno Kuzmany, <notifications@github.com> wrote:

[2019-03-27 08:56] RCheesley commented on #36
Waiting for @dbhurley to respond/provide

On Wed, 27 Mar 2019, 08:21 Zdeno Kuzmany, <notifications@github.com> wrote:

[2019-03-27 08:56] RCheesley commented on #75
Please leave the image on the blog posts. Remove from Dev as you like.

On Wed, 27 Mar 2019, 08:20 Zdeno Kuzmany, <notifications@github.com> wrote:

[2019-03-27 08:57] RCheesley commented on #69
I think we need to look at how much data might be missed (how many forum
threads for example).

Can you get a sense of that?

On Wed, 27 Mar 2019, 08:18 Zdeno Kuzmany, <notifications@github.com> wrote:

[2019-03-28 21:04] RCheesley commented on #74
Just reviewing this and I can't replicate it - if I complete the form the download initiates without any problems. Did you fix it already @kuzmany ?

[2019-03-28 21:06] RCheesley commented on #74
Ohhh, maybe the issue is that the Mautic form is not showing an error if you do not complete the form?

[2019-03-28 21:07] kuzmany commented on #74
Yes, exactly.

[2019-03-28 21:08] RCheesley commented on #69
@kuzmany at a quick glance, our forums are showing threads from 11 months ago. We have posts up to last week. I think we need to bring across users & forum threads before we migrate otherwise we stand to lose a lot of content and user accounts.

[2019-03-28 21:11] RCheesley commented on #74
Gotcha, I'm not sure if that's something on our styling end, or the Mautic instance end? Any ideas? Ideally the field should go red, however my understanding was that you aren't supposed to require an email address to provide a download any more, perhaps @dbhurley could clarify Mautic's stance on this?

[2019-03-28 22:50] RCheesley opened #76 "Admins/moderators doesn't seem to be populated on Mauticamp groups?"
I've set my a/c to be a global forum moderator so would expect it to show there.

[2019-04-03 21:00] RCheesley commented on #68
I have completed all the redirects although it should be noted there are several pages with outdated content and a few that we need @dbhurley to review/double check.

Use the google sheets filter to see those I have proposed to kill, redirect etc.

[mautic-redirects.txt](https://github.com/mautic/website/files/3040728/mautic-redirects.txt)

Redirects using 301's in a text file ^^

[2019-04-03 21:18] RCheesley commented on #68
I have done the 410's as well, but please check these are OK to kill off - I've assumed that they are.  Spreadsheet has some notes.

[migration-410s.txt](https://github.com/mautic/website/files/3040773/migration-410s.txt)

[2019-04-05 07:18] kuzmany commented on #74
Maybe CORS setting, maybe just require refresh form cache.

[2019-04-05 08:02] kuzmany commented on #75
Fixed.
Show image if exist, If not exist full column layout.

[2019-04-05 08:02] #75 closed, assigned to kuzmany

[2019-04-05 08:03] kuzmany commented on #56
Postpone to another time, another place... :)

[2019-04-05 08:12] kuzmany commented on #43
Remove voting, this feature is not finished yet.
Added description to helpful icon

![image](https://user-images.githubusercontent.com/462477/55613579-58005c00-578b-11e9-913e-6c5f217a266d.png)

[2019-04-05 08:12] #43 closed, assigned to kuzmany

[2019-04-05 10:22] RCheesley commented on #74
I don't think it is, because CORS usually highlights in the browser console. This is just failing silently. I don't have access to the Mautic instance to review the form settings or refresh the cache, probably something that @dbhurley needs to do :(

[2019-04-05 12:25] RCheesley opened #79 "Mautician pages are showing properties from logged in user, not the mautician"
See for example http://staging.mautic.org/mauticians/dtosh@protonmail.com

![screenshot-staging mautic org-2019 04 05-13-07-34](https://user-images.githubusercontent.com/2930593/55627333-d4079d80-57a5-11e9-8b58-9bb6275b1f75.png)

Pretty sure this user isn't in the same groups as me!

@kuzmany is it maybe using the wrong variable (logged in user rather than the profile of the user?)

The discussion

[2019-04-05 13:15] kuzmany commented on #79
Yes, this need little touch.
Bet this profile will be public, everybody will see contributed content, marketplace or discussion. Just owne will see add/edit action and not approved content.

Right?

[2019-04-05 13:21] RCheesley commented on #79
This issue was about the groups being incorrect.

Profiles will be public, yes everybody should be able to see the content that a user has created (maybe not the content which is not published?).

Public should also see the groups they are in & forum posts.

The logged in user should see edit for contributed content, and content which is not published.

This profile has a lot of content for refere

[2019-04-05 15:07] kuzmany commented on #79
I suppose community can't edit content after approve it. Because we would lost control and users can spammed our post later.  I suggest they can edit it before approve, then our editor will approve it. After that  user can just deactivate content or write to our admin to modify it. Maybe in future we can add change request form. But it's october CMS, nobody know it. we must be feature humble :)

D

[2019-04-05 15:12] RCheesley commented on #79
Yes that makes sense. I guess editing *should* set it back for re-approval
but I have no idea how the system works presently.

On Fri, 5 Apr 2019 at 16:07, Zdeno Kuzmany <notifications@github.com> wrote:

--
Ruth Cheesley

[2019-04-15 17:39] RCheesley opened #80 "Clicking to contribute blog content when on a page opens that page for editing"
On the main blog page this button works, but if you're on an individual post it opens up the current article in edit mode.

This is not what I would expect as a user - I'd expect it to open up a blank form for submitting my own content.

It seems to be using this link : http://staging.mautic.org/mauticians/RCheesley/contributions/mautic-blogs/add/<current page slug>

Short term fix - remove from p

[2019-04-15 17:46] RCheesley opened #81 "Clicking 'more' on user profile to see more discussions goes to the logged in user's profile"
When viewing a user profile who has a lot of forum activity, it is rolled up with 'more' at the bottom of the list.

Example: http://staging.mautic.org/mauticians/dbhurley@mautic.com

Clicking 'more' directs to the logged in user's forum activity on their profile, rather than expanding to see the full list of the profile being accessed.

[2019-04-16 18:10] RCheesley opened #82 "Clicking contribute content when no access results in poor UX"
Discovered when researching #80 that if you click contribute content when not logged in (e.g. anonymous) it just opens a blank space above the top menu, with no content showing.

I think we might want to turn off this feature as it seems to be really quite buggy?

[2019-04-16 19:01] RCheesley commented on #76
So @kuzmany it looks to me like there's no UI for setting or un-setting group moderators that I could find - maybe a feature that hasn't been implemented yet. I had thought this would use forum moderators, but it seems it's separate from that.

From what I can see in my local setup the mods/admins for groups is managed via the table trka_groups_group_user with the group ID and the user ID and a co

[2019-04-16 19:03] RCheesley commented on #74
@dbhurley assigning this to you as I don't have access to check what's going on with this form!

[2019-04-16 19:06] RCheesley commented on #62
@dbhurley please share Analytics with my a/c?

Also assume it's OK for me to create a GTM container and share it with your a/c for the mautic.org site? Need to ensure continuity of ownership.

[2019-04-16 20:39] RCheesley commented on #76
Currently there are no edit features (at least none that I can see) from the front-end which enable a user to make changes if they are an administrator/moderator of the group.

I guess this was planned as a later stage feature.

I am manually adding the users I can find to the appropriate groups so at least it shows who is the leader for each group, we can retrospectively implement edit features p

[2019-04-16 21:23] RCheesley opened #83 "Unable to use unicode characters in group descriptions"
Throws an error - examples being the Persian and Tokyo groups.

Can't use the native language descriptions in the field - guessing it's something to do with the table/field settings.

[2019-04-16 22:53] #81 closed, assigned to nobody

[2019-04-16 22:53] #79 closed, assigned to kuzmany

[2019-04-16 22:54] RCheesley commented on #61
While this is completed it makes more sense to block at the server-level for any staging/dev sites. I will close this issue and set a secondary issue for following up.

[2019-04-16 22:54] #61 closed, assigned to RCheesley, dbhurley

[2019-04-16 22:55] RCheesley opened #84 "Set X-Robots to prevent future accidental indexing of dev/staging sites"
See #61 for original issue.

Ideally we should use an X-Robots tag at the server level to block any development or staging sites from being indexed, and we should have a robots.txt as a fallback.

[2019-04-16 22:57] RCheesley commented on #26
No content as yet forthcoming so I am shifting this to a later release.

[2019-04-16 23:01] RCheesley commented on #69
@dbhurley @kuzmany I believe that you may have agreed to lose the user accounts and content from the past ten months, is this correct?

I don't have access to see how many users/how much content this might involve, but I see content in user group forums, and some in the ideas forum, which we will lose. Plus of course the users who have created accounts - I've come across a few missing users when w

[2019-04-16 23:02] RCheesley commented on #68
Closing this issue, as the redirects and 410's are there and just need to be implemented in the htaccess when we launch the new site.

[2019-04-16 23:02] #68 closed, assigned to RCheesley

[2019-04-16 23:14] RCheesley commented on #30
Implemented carlosrgzm-cookieconsent plugin and added component to all pages using the light-bottom theme. Linking to the privacy policy for more info.

[2019-04-16 23:14] #30 closed, assigned to nobody

[2019-04-17 15:12] RCheesley opened #85 "Error rendering page for Typo3 plugin"
See http://staging.mautic.org/marketplace/official-typo3-mixin

Suggests there's a parse error with the readme file - not sure what the issue is though?

[2019-04-17 16:32] #52 closed, assigned to RCheesley

[2019-04-18 16:53] RCheesley opened #86 "First/last name should not be mandatory"
Raised by @Woeler - these fields are mandatory in the front-end but in the back-end I can remove them without an error.

Ideally we should only make email address / username fields mandatory and use the username field where first/last name isn't provided.

[2019-04-18 20:40] Woeler commented on #86
Yes, please do not force us to fill these fields. So people don't want to roam the net with their real identity.

[2019-04-19 14:25] escopecz opened #87 "Error on submitting new a new mixin"
Go to http://staging.mautic.org/marketplace and hit the **Submit your Mautic Mixins** button while logged off.

[code]

[2019-04-19 18:19] kuzmany commented on #87
Thanks, I will fixed it.

[2019-04-19 18:35] RCheesley commented on #87
I also had issues with addedit on the profile page which I was looking
into, so might be related!

On Fri, 19 Apr 2019, 19:19 Zdeno Kuzmany, <notifications@github.com> wrote:

[2019-04-19 18:37] kuzmany commented on #87
@RCheesley add edit what? You are logged in/out? Please describe same way like @escopecz . I will fixed it then.

[2019-04-19 19:49] RCheesley commented on #87
When logged in, with an article on the blog submitted, I found there was
some wrong logic and the edit button always showed view, rather than edit.

When I fixed that late last night, the edit feature did not work - it just
reloaded the page.

I was looking into it and I recall getting to find addedit as what should
be happening but I didn't get any further, so might be worth checking the
edit blo

[2019-04-21 13:39] kuzmany commented on #87
Should all fixed.
Contribution button is hide for non logged in.
Add/Edit content fixed.

[2019-04-23 08:34] RCheesley commented on #76
Just to add, I found where there is a feature - view all users in a mauticamp and you're able to manage them to become moderators/administrators - so I guess that is the main purpose of the administrator/moderator feature at present.

[2019-04-23 09:59] escopecz commented on #87
The button is gone. Thanks!

[2019-04-23 09:59] #87 closed, assigned to nobody

[2019-04-23 10:45] escopecz opened #88 "Content sticks to the footer rather than header"
It's probably on every page but best visible on the download page with higher resolution monitor:

http://staging.mautic.org/download

![Screenshot 2019-04-23 at 12 42 33](https://user-images.githubusercontent.com/1235442/56575210-75c02480-65c5-11e9-824c-f066ba2096ce.png)

There is big gap between the div with logo and div with top menu.

[2019-04-23 10:47] escopecz commented on #88
It seems to be related to
[code]
As if I turn it off the gap is gone. But then the columns in the content too.

[2019-04-23 10:51] escopecz commented on #88
Better solution is probably to turn off these and the page looks good:
[code]

[2019-04-23 11:46] kuzmany commented on #86
It's optional now.
But need add upload avatar in few days :(

[2019-04-23 11:56] RCheesley commented on #86
Yeah at present the avatar pulls in from Gravatar if it's available.

Ruth

On Tue, 23 Apr 2019 at 12:46, Zdeno Kuzmany <notifications@github.com>
wrote:

--
Ruth Cheesley

[2019-04-26 17:20] RCheesley opened #89 "Update references to Slack to point at Discord"

[2019-04-29 19:36] RCheesley opened #90 "Featured help topics not filtering correctly"
Seems to be including all topics

![screenshot-staging mautic org-2019 04 29-20-35-37](https://user-images.githubusercontent.com/2930593/56921710-686fd200-6abe-11e9-90b4-a8fe1e5f60b0.png)

[2019-04-29 19:45] RCheesley commented on #90
Seems to be resolved, strikes me as duplication using two different locations to do essentially the same kind of thing. Maybe to be addressed in the future.

[2019-04-29 19:45] #90 closed, assigned to RCheesley

[2019-04-29 20:13] RCheesley opened #91 "Tidy up unused .md files"
There are a lot of .md files which are now blog posts, and hence are not being used in their current format (I think this is a hangover from the migration).

I think these should be removed so we don't end up being confused with where the content sits and what changes are needed to update content.

Low priority but should be addressed.

[2019-04-29 21:00] RCheesley opened #92 "Content: Get Involved"
http://staging.mautic.org/get-involved the copy needs updating on this page.

Ideally it should signpost to:

- Discord
- Forums
- MautiCamps
- Working Groups
- Submitting content

[2019-04-29 21:42] RCheesley commented on #89
All files are now updated, and I have manually updated blog posts which reference/link to Slack so that they now point/reference to Discord or added an N.B. mentioning we're now on Discord for old blog posts.

[2019-04-29 21:42] #89 closed, assigned to RCheesley

[2019-04-29 21:48] RCheesley commented on #88
Applied this fix to staging which seems to resolve the issue. Not sure what that code was for but it might need revisiting just in case it breaks the world - do we have access to cross-browser testing?

[2019-04-29 21:50] #88 closed, assigned to nobody

[2019-04-29 21:51] RCheesley commented on #85
@kuzmany as it's only impacting this plugin I am going to unpublish until someone can address this.

[2019-04-29 21:53] RCheesley commented on #85
Typo3 plugin is set to 'in review' until this is resolved, removing this issue from the site launch milestone as it can be followed up later.

[2019-04-29 21:54] RCheesley commented on #51
As site search is now shifted back to the next phase I am moving this related issue.

[2019-04-30 07:18] escopecz commented on #88
Thanks Ruth! I'm not sure we have.

[2019-04-30 09:23] RCheesley opened #93 "Create layout for Working Groups & fix URL structures"
Currently the working groups need a bit of work:

- [ ] Fix URL's for the navigation so they aren't using /mauticamps
- [ ] Fix the links on the group stats so they aren't using /mauticamps
- [ ] Fix group leaders so it displays the people who are leading the group
- [ ] Check and associate forums

[2019-04-30 09:25] RCheesley opened #94 "Master forum page for administration"
Currently there isn't one central forum where all forums can be viewed including MautiCamps, Translation Groups and Working Groups, as the forum (http://staging.mautic.org/forum) starts from the top-level of Discussions whereas the other groups are outside this.

Maybe we need to move them to be within the Discussions top-level so that there are three additional blocks in this layout - MautiCamps,

[2019-04-30 09:43] RCheesley commented on #94
Note, after some quick testing we would need to modify the layout so that sub-categories were shown on click.

[2019-06-02 13:41] aspiers opened #95 "clarify which website this repository refers to"
IIUC, there are two websites:

- https://www.mautic.org/ - the FOSS community site
- https://www.mautic.com/ - the commercial site owned and run by Mautic, Inc. / Acquia

I assume that this repository is only concerned with mautic.org, but either way I think it's important to clarify.  I suggest updating the README and also renaming the repository to https://github.com/mautic/mautic.org, or https:

[2019-06-02 15:24] RCheesley commented on #95
Indeed, it relates to Mautic.org. The branches are currently being used and
when the site deploys I would expect we would merge to master and remove
anything not being used, at which point the readme file can be updated to
give direction on how to be involved with the website team.

On Sun, 2 Jun 2019, 14:41 Adam Spiers, <notifications@github.com> wrote:

[2019-06-02 17:04] aspiers commented on #95
Thanks Ruth.  If the expectation is to merge into `master` (rather than force-push), is there any reason not to update the README right away?

[2019-06-02 17:05] aspiers commented on #95
To clarify, I could submit a simple PR just changing the README to clarify that this repo relates to mautic.org.  The directions on how to be involved could come later.

[2019-06-02 21:14] RCheesley commented on #95
The Mautic organisation this repo belongs to us the Mautic.org one, there
is a separate organisation for the commercial side.

Certainly something that can be taken into account to make it clear how
people can get involved though once things are clearer regarding the
website, thanks for flagging it.

On Sun, 2 Jun 2019, 18:05 Adam Spiers, <notifications@github.com> wrote:

[2019-06-03 09:20] aspiers commented on #95
OK, I've submitted #96 to address this.  This will still allow merging from the other branches to master when they are ready.

[2019-06-03 13:54] #95 closed, assigned to nobody

[2019-07-18 20:04] TrollWarlord opened #97 "500 error when downloading from marketplace"
https://www.mautic.org/marketplace/ try to download something, you'll get a 500 error.

https://www.mautic.org/mixin/twilio-sms-responder/?wpdmdl=101892 example

[2019-08-28 09:34] RCheesley commented on #98
I have now fixed the Tour page - shortcodes are working, couldn't see anything wrong with the Slack page so assuming that has been fixed previously.

[2019-08-28 09:34] #98 closed, assigned to RCheesley

[2019-08-28 09:34] RCheesley commented on #97
This is now resolved, thanks for reporting :)

[2019-08-28 09:34] #97 closed, assigned to nobody

[2019-08-28 10:11] digitall-it commented on #98
Thank you!

[2019-08-28 10:48] RCheesley opened #99 "Improve styling of comments on blog articles"
The default Discourse template for comments isn't visually great, and as we get more comments having a user avatar will result in a lot of requests back to Discourse.

There is a simple guide to templating here: https://meta.discourse.org/t/wp-discourse-template-customization/50754 from which we can pull to improve the styling.

As an example, see Norman's comment: https://www.mautic.org/blog/pres

[2019-08-28 13:01] RCheesley commented on #99
Thanks to Andrass on Slack for the help with getting this done so quickly!

[2019-08-28 13:01] #99 closed, assigned to nobody

[2019-08-29 12:11] RCheesley commented on #94
No longer relevant

[2019-08-29 12:11] #94 closed, assigned to nobody

[2019-08-29 12:11] RCheesley commented on #93
No longer relevant

[2019-08-29 12:12] #93 closed, assigned to nobody

[2019-08-29 12:12] RCheesley commented on #91
No longer relevant

[2019-08-29 12:12] #91 closed, assigned to nobody

[2019-08-29 12:12] RCheesley commented on #86
No longer relevant but will form a requirement for the new site.

[2019-08-29 12:12] #86 closed, assigned to kuzmany

[2019-08-29 12:12] RCheesley commented on #85
No longer relevant

[2019-08-29 12:12] #85 closed, assigned to kuzmany

[2019-08-29 12:13] RCheesley commented on #84
No longer relevant

[2019-08-29 12:13] #84 closed, assigned to dbhurley

[2019-08-29 12:13] RCheesley commented on #83
No longer relevant

[2019-08-29 12:13] #83 closed, assigned to nobody

[2019-08-29 12:13] RCheesley commented on #82
No longer relevant

[2019-08-29 12:13] #82 closed, assigned to nobody

[2019-08-29 12:13] RCheesley commented on #80
No longer relevant

[2019-08-29 12:13] #80 closed, assigned to nobody

[2019-08-29 12:13] RCheesley commented on #76
No longer relevant

[2019-08-29 12:13] #76 closed, assigned to RCheesley

[2019-08-29 12:14] RCheesley commented on #74
No longer relevant

[2019-08-29 12:14] #74 closed, assigned to dbhurley

[2019-08-29 12:15] RCheesley commented on #69
No longer relevant

[2019-08-29 12:15] #69 closed, assigned to kuzmany

[2019-08-29 12:15] RCheesley commented on #62
No longer relevant

[2019-08-29 12:15] #62 closed, assigned to RCheesley, dbhurley

[2019-08-29 12:15] RCheesley commented on #56
No longer relevant

[2019-08-29 12:15] #56 closed, assigned to nobody

[2019-08-29 12:16] RCheesley commented on #51
No longer relevant

[2019-08-29 12:16] #51 closed, assigned to RCheesley

[2019-08-29 12:16] RCheesley commented on #54
Pleased to close this as completed :)

[2019-08-29 12:16] #54 closed, assigned to nobody

[2019-08-29 12:16] RCheesley commented on #49
No longer relevant

[2019-08-29 12:16] #49 closed, assigned to nobody

[2019-08-29 12:16] RCheesley commented on #45
Implemented on the forums!

[2019-08-29 12:16] #45 closed, assigned to nobody

[2020-03-19 19:00] ikolubr opened #100 ""Latest" link is broken, is there a new one?"
Hi guys,
I have a script to download Mautic automatically, it was using the link: https://www.mautic.org/download/latest until yesterday. I tried to use the script right now and the link is broken. Do you guys have a new link where it always points to the latest version of Mautic, or could you guys fix that one?

Thank you so much,

[2020-03-19 19:17] RCheesley commented on #100
Hi there,

Please download at mautic.org/download - this always has the latest version - or via Github - https://github.com/mautic/mautic/releases/latest.

Will look into whether we can resurrect that link, the new site was deployed last Friday so that's why it has changed.

[2020-03-19 19:21] #100 closed, assigned to nobody

[2020-03-19 19:26] ikolubr commented on #100
Thank you @RCheesley. The link would be mega beneficial as it was pointed to the latest.zip... so no need to change the script when a new version was released.

Hope you can do it.

Thank you,

[2020-03-20 18:06] RCheesley commented on #100
@ikolubr now fixed, thanks for flagging it! :rocket:

[2020-06-29 15:20] dhilst opened #101 "Cant enter on Slack"
I'm trying to enter on Mautic Slack but I receive an error on site, https://www.mautic.org/slack

<img width="777" alt="image" src="https://user-images.githubusercontent.com/392820/86024097-f0bf6f00-ba02-11ea-9f31-728acfb34b14.png">

Any ideas?

[2020-06-29 16:58] RCheesley commented on #101
Hi there,

Did you get the email?

[2020-06-30 00:26] dhilst commented on #101
In fact I get it :), sorry

[2020-06-30 00:26] #101 closed

[2020-09-09 06:21] nclv opened #102 "Bad URL redirection on mautic.org"
The yellow button _"Start Contributing"_ on [the main page](https://www.mautic.org/) redirects to _https://contribute.mautic.org/about/how-can-i-contribute/developer_ (**404 Error**) when it should redirect to _https://contribute.mautic.org/contributing-to-mautic/developer_.

[2020-09-10 11:43] RCheesley commented on #102
@NicovincX2 thanks for flagging this up, I have updated the link!

[2020-09-10 11:43] #102 closed, assigned to RCheesley

[2020-09-10 11:44] #18 closed, assigned to nobody

[2020-09-10 11:44] #24 closed, assigned to RCheesley

[2020-09-10 11:44] #26 closed, assigned to RCheesley

[2020-09-10 11:44] #27 closed, assigned to nobody

[2020-09-10 11:44] #28 closed, assigned to nobody

[2020-09-10 11:44] #31 closed, assigned to nobody

[2020-09-10 11:44] #33 closed, assigned to nobody

[2020-09-10 11:44] #34 closed, assigned to nobody

[2020-09-10 11:44] #35 closed, assigned to nobody

[2020-09-10 11:44] #36 closed, assigned to dbhurley

[2020-09-10 11:44] #41 closed, assigned to nobody

[2020-09-10 11:44] #42 closed, assigned to nobody

[2020-09-10 11:44] #44 closed, assigned to nobody

[2020-09-10 11:44] #47 closed, assigned to dbhurley

[2020-09-10 11:44] #92 closed, assigned to nobody

[2021-02-25 22:43] NicoHood opened #103 "Change URLs to https"
Those URLs here link to https (good), but the text is still http. Minor issue, but can be fixed ;-)
https://www.mautic.org/download/requirements

[2021-02-25 22:56] RCheesley commented on #103
This should not be raised here, we have a repo specifically for issues with the website. I'll move it there. We also have a slack channel for the website which is a great place to notify us about these things and get involved with helping to improve the web presence!

[2021-02-26 09:18] #103 closed, assigned to nobody

[2021-02-26 09:19] RCheesley commented on #103
Resolved :)

[2022-03-25 07:25] ekkeguembel opened #104 "Events listing defaults to Oct 2022"
When I hit https://www.mautic.org/events (now, i.e. in March 2022), I get "Events for October 2021"

Expected behavior:
* Events starting from today (i.e. search filter field_event_date_value=<today>)
* or else at least: for the current month

[2022-03-25 07:31] ekkeguembel opened #105 "Events listing: "Events From" search broken in conjunction with Pagination"
When I go to **https://www.mautic.org/events**
-> then start forwarding ("Next >>") e.g. to **https://www.mautic.org/events/202111?field_event_date_value=&title=**
-> then try to navigate to the desired date e.g. 25.03.2022

the result is
_**No event listed. Change the filter criteria or come back soon!**_
which is wrong.

The reason is that the pagination is still part of the filter:
**https://ww

[2022-03-25 07:49] ekkeguembel opened #106 "Events: Search (date or text) outside of the current month broken"
https://www.mautic.org/events?field_event_date_value=2022-03-25&title=
returns events for
* March 25
* March 26
Good.

https://www.mautic.org/events?field_event_date_value=2022-04-04&title=
(i.e. searching outside of the current month)
returns
**_Events for March 2022_**
**_No event listed. Change the filter criteria or come back soon!_**

and when I click "Next >>"  this gives me https://www.maut